<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="ISO-8859-1">
    <title>Product Management</title>
</head>
<body>
<h2>Product List</h2>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Actions</th>
    </tr>
    </thead>
   <tbody>
    <tr th:each="product : ${listProducts}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.description}"></td>
        <td th:text="${product.price}"></td>
        <td>
            <a th:href="@{/showFormForUpdate/{id}(id=${product.id})}">Edit</a>
            <a th:href="@{/deleteProduct/{id}(id=${product.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<br> <a href="/showNewProductForm">Add New Product</a>
</body>
</html>
