<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Product</title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<h2>Update Product</h2>
<form th:action="@{/saveProduct}" th:object="${product}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <table>
        <tr>
            <td><label for="name">Name</label></td>
            <td><input type="text" id="name" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td><label for="description">Description</label></td>
            <td><input type="text" id="description" th:field="*{description}"/></td>
        </tr>
        <tr>
            <td><label for="price">Price</label></td>
            <td><input type="number" id="price" th:field="*{price}"/></td>
        </tr>
        <tr>
            <td>
                <button type="submit">Save</button>
            </td>
        </tr>
    </table>
</form>
<br> <a href="/" th:href="@{/}">Back to Home</a>
</body>
</html>
